{% extends 'base.html.twig' %}

{% block title %} Handgames {% endblock %}

{% block body %}

<div class="titleHome mb-5">
    <h2>Profil</h2>
</div>

<section class="section-photo-profil mb-5">

    <div class="img-display">
        <img id="pp-display" src="{{ app.user.avatar.path }}" alt="pp-user" height="100%">
    </div>

    <div class="separator"></div>

    <div class="profil-pic-choice">
        <div class="group-profil-pic">
            {% for avatar in firstAvatarGroup %}
                <div class="img-choice">
                    <img src="{{ avatar.path }}" alt="pp-xbox" width="100%" class="js-choice" data-id="{{ avatar.id }}">
                </div>
            {% endfor %}
        </div>

        <div class="group-profil-pic">
            {% for avatar in secondAvatarGroup %}
                <div class="img-choice">
                    <img src="{{ avatar.path }}" alt="pp-xbox" width="100%" class="js-choice" data-id="{{ avatar.id }}">
                </div>
            {% endfor %}
        </div>
    </div>

</section>

{{ form_start(form) }}
    <div id="div-pseudo-pw-form" class="mb-5 d-flex w-100 justify-content-around">

        {{ form_widget(form.avatar, {'type': 'hidden','id': 'confirm-profil-pic'}) }}

        
        <div class="form-input">
            {% if (error == 'badPassword') %}
                <div class="customError">
                    <p class="customLogoError">ERROR</p><p class="customTextError">Incorrect Password</p>
                </div>
            {% endif %}
            {% if (error == 'noPassword') %}
                <div class="customError">
                    <p class="customLogoError">ERROR</p><p class="customTextError">To change Pseudo or Password you must enter your Current Password here</p>
                </div>
            {% endif %}
            {{ form_widget(form.oldPassword, {'attr': {'placeholder': 'Old Password...', 'class': 'form-control'}}) }}
        </div>
        
        <div class="form-input">
            {% if (error == 'pseudoNotAvailable') %}
                <div class="customError">
                    <p class="customLogoError">ERROR</p><p class="customTextError">This pseudo is already used </p>
                </div>
            {% endif %}
            {{ form_widget(form.pseudo, {'attr': {'placeholder': 'New Pseudo...', 'class': 'form-control'}}) }}
        </div>

        <div class="w-100">
            {{ form_widget(form.newPassword, {'attr': {'placeholder': 'New Password...', 'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="confirmation">
        {{ form_widget(form.submit, {'attr': {'class': 'bouton-confirm'}}) }}
    </div>
{{ form_end(form) }}

{% endblock %}
