{% extends 'base.html.twig' %}

{% block title %}Handgames{% endblock %}

{% block body %}
    <div class="terrain-jeu gap-3 d-flex justify-content-center align-items-end position-relative">

        <div class="zone-poing d-flex">
            <div class="playerOne text-center">
                
                    {% if app.user %}
                        <div class="divPlayerLeft">
                            <p class="game-pseudo">{{ app.user.pseudo }}</p>
                            <img class="avatarPlayerOne" src="{{ app.user.avatar.path }}" alt="" width="75px" height="auto">
                            <p class="levelPlayerOne">Level : {{ app.user.statistiques[0].level }}</p>
                        </div>
                    {% else %}
                        <div class="divPlayerAnonymousLeft">
                            <p class="game-pseudo">Joueur {{ random(['Alpha', 'Bravo', 'Charlie','Delta','Echo','Foxtrot','Golf',
                                    'Hotel','India','Juliet','Kilo','Lima','Mike','November','Oscar','Papa','Quebec','Romeo',
                                    'Sierra','Tango','Uniform','Victor','Whiskey','X-ray','Yankee','Zulu']) }}</p>
                        </div>
                    {% endif %}
                

                <img class="handPlayerOne" src="{{ userSkin.RockUrl }}" width="200px" height="auto">
            </div>

            <div class="versus">
                <img src="/build/image/game/versus.png" alt="" width="50px" height="auto">
            </div>

            <div class="playerTwo text-center">

                <div class="divPlayerRight">
                    <p class="game-pseudo2">BOT {{ random(['Alpha', 'Bravo', 'Charlie','Delta','Echo','Foxtrot','Golf',
                            'Hotel','India','Juliet','Kilo','Lima','Mike','November','Oscar','Papa','Quebec','Romeo',
                            'Sierra','Tango','Uniform','Victor','Whiskey','X-ray','Yankee','Zulu']) }}</p>
                </div>

                <img class="handPlayerTwo" src="/build/image/game/hand-rock.png" width="200px" height="auto">
            </div>
        </div>




            <div class="rockdivbot d-flex">
                <img
                        src="/build/image/icons/hand-rock-solid.svg"
                        alt=""
                        height="100px"
                        width="100px" />
            </div>

            <br>

            <div class="paperdivbot">
                <img
                        src="/build/image/icons/hand-paper-solid.svg"
                        alt=""
                        height="100px"
                        width="100px" />
            </div>

            <br>

            <div class="scissorsdivbot">
                <img
                        src="/build/image/icons/hand-scissors-solid.svg"
                        alt=""
                        height="98px"
                        width="98px" />
            </div>

    </div>

{% endblock %}
