



    <h2 class="titre-actu m-2">{{ new.titre }}</h2>

{#    {% if actualite.path_img %}#}
    <div class="img-actu">
        <img class="card-img-top" src="{{ new.PathImg }}" alt="Image de l'actualite">
    </div>
{#    {% endif %}#}

    <div class="card-body actu-body">
        <p class="card-text">{{ new.DescriptionCourte }}</p>
        <div class="created-at-new text-align-left">
            <p>Date du post : {{ new.CreatedAt|date('d-m-Y') }}</p>
        </div>
        <div class="w-100 d-flex justify-content-center">
            <div class="bouton-actu bouton">More info</div>
        </div>
    </div>

    <div class="overlay overlay-actu">
        <div class="close-popup close-popup-actu"></div>
        <div class="popup popup-actu-size">
            <h2>{{ new.titre }}</h2>
            <div class="close close-actu">&times;</div>
            <div class="desc-longue">
                <p>{{ new.description }}
                </p>
            </div>
        </div>
    </div>

