{% for flashError in app.flashes('verify_email_error') %}
    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
{% endfor %}

{{ form_start(registrationForm) }}
    <div class="register-form-row mb-2">
        {{ form_label(registrationForm.email) }}
        {{ form_widget(registrationForm.email) }}
    </div>

    <div class="register-form-row mb-2">
        <label for="registration_form_plainPassword" class="required">Password</label>
        {{ form_widget(registrationForm.plainPassword) }}
    </div>

    <div class="register-form-row mb-2">
        <label for="registration_form_pseudo" class="required">Pseudo</label>
        {{ form_widget(registrationForm.pseudo) }}
    </div>

    {{ form_row(registrationForm.agreeTerms) }}

    <div class="login-btn">
        <button type="submit" class="btn btn-lg btn-primary">Register</button>
    </div>
{{ form_end(registrationForm) }}